* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --bg-color: #e5e5e5;
  --second-bg-color: #dddddd;
  --text-color: #141718;
  --second-text-color:#cecece;
  --main-color:#ec5c29;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 8vh;
  background: transparent;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  z-index: 10;
  border-bottom:1px solid var(--second-text-color);
}

.logo {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.logo p {
  font-size: 1.7rem;
  color: var(--second-text-color);

}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--second-text-color);
}

.navbar a:target {
  color: var(--main-color);
}

.logo:hover {
  color: var(--main-color);
}

.icon {
  font-size: 2.5rem;
  color: var(--text-color);
  display: none !important;
  cursor: pointer;
}


main {
  padding: 0 9rem;
}




.home {
  /* border: 1px solid red; */
  width: 100%;
  /* margin-top: 15rem; */
  min-height:500px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 9vh 0 0 0;
}

.home-content {
  width: 50%;
  /* border: 1px red solid; */
  max-width: 60rem;
}

.home-content h1 {
  /* width: 50%; */
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
}

.home-content h1 span {
  color: var(--text-color);
}

.home-content .text-animate {
  /* position: relative; */
  text-align: center;
  width: 32.8rem;
  margin: 0 auto;
}

.home-content .text-animate h3 {
  font-size: 3.8rem;
  font-weight: 700;
  color: var(--main-color);
  /* color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
  background-image: linear-gradient(var(--text-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s; */
}

.home-content .text-animate h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  /* border-right: 2px solid var(--main-color);
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s; */
}

span {
  font-weight: bold;
}

/* .project {
    padding: 26vh ;
} */

/* .project h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: px;
} */


.project-img {
  display: flex;
  width: 100%;
  height: 100%;
  padding:  1rem;
  border: 1px solid red ;
  object-fit: contain;
  gap: 10px;
}

.project-card {
  width: 33.33%; 
  height: 100%;
  border-radius: 10px; 
 
  
  
}

.project-card:hover {
  cursor: pointer;
}

.project-card img {
  width: 100%; 
  height: 100%; 
  border-radius: 20px; 
  border: 1px solid red ;
}
