* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--bg-color);
  color: var(--text-color)
  
}


.header {
  border-bottom: 1px solid var(--second-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 7vh;
  background: transparent;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9rem;
  z-index: 10;
}

.logo-icon {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.header p {
  font-size: 1.7rem;
  color: var(--second-bg-color);
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar a:active {
  color: var(--main-color);
}

.logo-icon:hover {
  color: var(--main-color);
}

.icon {
  font-size: 2.5rem;
  color: var(--text-color);
  display: none;
  cursor: pointer;
}

.home {
  /* border: 1px solid red; */
  width: 100%;
  /* margin-top: 15rem; */
  min-height: calc(100vh - 7vh - 15rem);

  display: flex;
  /* flex-direction: column; */
  gap: 30px;
  align-items: center;
  padding: 15rem 9rem 0 9rem;
}

.home-content {
  width: 60%;
  /* border: 1px red solid;  */
  max-width: 60rem;
}

.home-content h1 {
  /* width: 50%; */
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
}

.home-content h1 span {
  color: var(--text-color);
}



/* .home-content .text-animate h2 {
  font-size: 3.8rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
  background-image: linear-gradient(var(--text-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.home-content .text-animate h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
  text-align: center;
} */

span {
  font-weight: bold;
  color: var(--main-color);
}

.project-img {
  display: flex;
  flex-direction: column; 
  gap: 1rem;
  width: 100%;
  height: calc(100vh - 200px);
  padding: 0 1rem;
  /* border: 1px solid red;  */
}

/* .project-card {
   border: 1px solid red; 
  width: 100%;
  height: 33.33%;
  position: relative;
  border-radius: 50px;
  cursor: pointer;
} */

/* .project-card1 {
  background-image: url(./images/Screenshot\ 2023-12-07\ at\ 00-31-11\ Speaker\ Shop.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
/* 
.project-card2 {
  background-image: url(./images/ben-kolde-bs2Ba7t69mM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

/* .project-card3 {
  background-image: url(./images/joshua-aragon-BMnhuwFYr7w-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

/* .project-card div {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  /* border: 1px solid greenyellow; */
  /* backdrop-filter: blur(5px);

  text-align: center;
  color: rgb(18, 17, 17);
  font-size: 3rem;
  background: #ffffff21;
  margin: 0 3rem;
} */ 

.project-card {
  /* border: 1px solid red; */
  width: 80%;
  height: 33.33%;
  overflow: hidden;
  margin: 0 auto;
  transition: width 0.5s, height 0.5s;
}



.project-card img {
width: 100%;
height:100%;
display: block;
object-fit: cover;
border-radius: 50px;
padding: 1rem 1rem;
/* border: 1px solid var(--main-color);
background-color: var(--main-color); */
}

.project-card div h4 {
  color:#ffffff;
  font-size: 5rem;
}

.project-card:hover {
  width: 100%;
  height: 100%;
}

.skills {
  background-color: var(--bg-color);
  height: 100%;
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 5rem;
  padding: 13rem 9rem;
}

.skills span {
  color: var(--main-color);
}

.skills h3 {
  color: var(--text-color);
  padding-bottom: 60px;
  margin-top: -50px;
  font-size: 4rem;
}

.skills img {
  object-fit: contain;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--text-color);
  padding: 3px;
}
.skills-img div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.about-me {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  min-height: 100vh;
  padding: 5rem 9rem 0 9rem;
  background-color: var(--second-bg-color);
}

.about-me span {
  color: var(--main-color);
}

.about-me img {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 7vh;
  display: block;
  margin: 0 auto;
  margin-bottom: 7vh;
}

.about-me h3 {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 60px;
  font-size: 4rem;
}

.about-me p {
  font-size: 2rem;
}

.contact {
  padding: 5rem 9rem;
  /* border: 1px solid red; */
  min-height: calc(100vh - 8vh);
  font-size: 24px;

  text-align: center;
}

.contact-details {
  display: flex;
}

.form {
  /* border: 1px solid red; */
  width: 50%;
  height: auto;
}

.my-details {
  /* border: 1px solid red; */
  width: 50%;
  height: 500px;
  padding: 30px;
  text-align: center;
}

.my-details div {
  position: relative;
  width: 100%;
  margin: 0.8rem 0;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  color: var(--text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  letter-spacing: 3px;
}

.my-details div:nth-child(4) {
  border: none;
}

.icons-contact {
  color: #00abf0;
  font-size: 5rem;
  margin-top: 5rem;
  margin-right: 30px;
  margin-left: 30px;
}

.contact h3 {
  font-size: 4rem;
  padding-bottom: 4rem;
  padding-top: 0rem;
}

/* .contact span {
  color: var(--main-color);
} */

.contact form .input-box .input-field {
  position: relative;
  width: 100%;
  margin-bottom: 0.8rem;
  padding: 0 30px;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  /* height: 50%; */
  padding: 1.5rem;
  display: flex;

  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  transition: color 0.3s ease, border-color 0.3s ease;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  /* color: var(--text-color); */
  transform {
    color: var(--second-bg-color);
  }
  /* transition: color 0.3s ease; */
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 30px;
  right: 0;
  width: 0;
  height: 100%;
  background-color: var(--second-bg-color);
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}

.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:focus ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
  width: calc(100% - 60px);
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
  padding: 0 30px;
}

.contact form .btn-box .btn {
  cursor: pointer;
}
.btn-box {
  width: 35rem;
  height: 5rem;
  margin: 0 auto;
}

.btn-box .btn {
  width: 15rem;
  height: 100%;
  background-color: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--bg-color);
  z-index: 1;
}

footer {
  width: 100%;
  background-color: var(--second-bg-color);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9rem;
  font-size: 1.7rem;
}

footer div:nth-child(2) {
  display: flex;
  gap: 2rem;
}

.privacy {
  cursor: pointer;
}

.privacy p:hover {
  color: #00abf0;
}

/* KEYFRAMES ANIMATION */

@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@media screen and (min-width: 1024px) {
.navbar1 {
  display: none;
}

  .icon {
    display: none !important;
  }

  .home-content .text-animate h2 {
    font-size: 3.8rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--main-color);
    background-image: linear-gradient(var(--text-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
  }

  .home-content .text-animate {
  position: relative;
  width: 32.8rem;
  margin: 0 auto;
}

  .home-content .text-animate h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
    text-align: center;
  }

  .my-details div {
    font-size:  1.5rem
    };
  }


@media screen and (min-width: 768px) and (max-width: 1023px) {

  
  .header {
    padding: 0 7rem;
  }

  .header p {
    display: none;
  }

  .navbar {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .icon {
    display: flex;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home {
    display: flex;
    flex-direction: column;
    padding: 6rem 7rem 0 7rem;
  }

  .home-content {
    width: 400px;
    height: 80px;
    margin: 0px auto;
    text-align: center;
  }

  .home-content h1 {
    font-size: 40px;
    text-align: center;
  }

  .home-content .text-animate h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--main-color);
    background-image: linear-gradient(var(--text-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    text-align: center;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
  }

  .home-content .text-animate h2::before {
    align-content: center;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
  }

  .project-img {
    padding-top: 50px;
  } 

  .contact {
    padding: 0 7rem;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .my-details {
    width: 100%;
    padding: 0;
  }
  .contact form .input-box .input-field,
  .contact form .textarea-field {
    padding: 0;
  }

  .contact form .input-box .input-field input::placeholder,
  .contact form .textarea-field textarea::placeholder {
    /* color: var(--text-color); */
    transform {
      color: var(--second-bg-color);
    }
    
  }

  .contact form .focus {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    border-radius: 0.6rem;
    z-index: -1;
    transition: 0.5s;
  }

  .contact form .input-box .input-field input:focus ~ .focus,
  .contact form .input-box .input-field input:focus ~ .focus,
  .contact form .textarea-field textarea:focus ~ .focus,
  .contact form .textarea-field textarea:valid ~ .focus {
    width: 100%;
  }

  .my-details {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 468px) and (max-width: 768px) {
  
  .header {
    padding: 0 3rem;
  }

  .header p {
    display: none;
  }

  .navbar {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .icon {
    display: flex;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home {
    display: flex;
    flex-direction: column;
    padding: 10rem 7rem 0 7rem;
  }

  .home-content {
    /* border: 1px solid red; */
    width: 300px;
    height: 80px;
    margin: 0px auto;
    text-align: center;
  }

  .home-content h1 {
    font-size: 30px;
    text-align: ;
  }

  .text-animate {
    border: 1px red solid;
    width:350px ;
    text-align: center;
    margin-left: 25px;
  }

  .home-content .text-animate h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--main-color);
    background-image: linear-gradient(var(--text-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    text-align: left;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
  }

  .home-content .text-animate h2::before {
    align-content: center;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
  }

  .about-me {
    padding-top: 5px;
    padding: 0 3rem;
  }

  .about-me p {
    font-size: 1.5rem;
  }

  .project-img {
    padding-top: 50px;
  }

  .contact {
    padding: 0 3rem;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
ï¿¼


  .my-details {
    width: 100%;
    padding: 0;
  }
  .contact form .input-box .input-field,
  .contact form .textarea-field {
    padding: 0;
  }

  .contact form .input-box .input-field input::placeholder,
  .contact form .textarea-field textarea::placeholder {
    /* color: var(--text-color); */
    transform {
      color: var(--second-bg-color);
    }
    /* transition: color 0.3s ease; */
  }

  .contact form .focus {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    border-radius: 0.6rem;
    z-index: -1;
    transition: 0.5s;
  }

  .contact form .input-box .input-field input:focus ~ .focus,
  .contact form .input-box .input-field input:focus ~ .focus,
  .contact form .textarea-field textarea:focus ~ .focus,
  .contact form .textarea-field textarea:valid ~ .focus {
    width: 100%;
  }

  .my-details {
    padding-top: 1.5rem;
  }

  .my-details div:nth-child(n) {
    font-size: 1.5rem;
    padding: 1.5rem 0.5rem;
  }

  .icon-contact {
    height: 20px;
    display: flex;
  align-items: center;
  justify-content: center;
  }

  footer {
    justify-content:space-between;
  }

  .btn-box {
    width: 100%;
  }
}

@media screen and (max-width: 467px){
  .header {
    padding: 0 3rem;
  }

  .header p {
    display: none;
  }

  .navbar {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo .icon {
    
  }

  .icon {
    display: flex;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home {
    display: flex;
    flex-direction: column;
    padding: 10rem 3rem;
    align-items: center;
    justify-content: center;
  }

  .home-content {
    /* border: 1px solid red; */
    width: 300px;
    height: 80px;
  padding: 0 3rem ;
    text-align: center;
  }

  .home-content h1 {
    font-size: 30px;
  }

  .text-animate {
    /* border: 1px red solid; */
    width:250px;
    text-align: center;
    margin-left: 10px;
  
  }

  .home-content .text-animate h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--main-color);
    background-image: linear-gradient(var(--text-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    text-align: left;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
  }

  .home-content .text-animate h2::before {
    align-content: center;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
  }

  .project-img {
    /* border: 1px red solid; */
    width: 300px;
   padding: 0 10px;
   margin: 0;

  
  }

  .project-card div h4 {
    display: none;
    padding: 0 ;
  }

  .skills {
    padding-top: 100px;
  }

  .about-me {
    padding-top: 5px;
    padding: 0 2rem;
  }

  .about-me p {
    padding-bottom: 10px;
    font-size: 1rem;
  }

  .project-img {
    padding-top: 50px;
  }

  .contact {
    padding: 0 3rem;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .my-details {
    width: 100%;
    padding: 0;
  }
  .contact form .input-box .input-field,
  .contact form .textarea-field {
    padding: 0;
  }

  .contact form .input-box .input-field input::placeholder,
  .contact form .textarea-field textarea::placeholder {
    /* color: var(--text-color); */
    transform {
      color: var(--second-bg-color);
    }
    /* transition: color 0.3s ease; */
  }

  .contact form .focus {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    border-radius: 0.6rem;
    z-index: -1;
    transition: 0.5s;
  }

  .contact form .input-box .input-field input:focus ~ .focus,
  .contact form .input-box .input-field input:focus ~ .focus,
  .contact form .textarea-field textarea:focus ~ .focus,
  .contact form .textarea-field textarea:valid ~ .focus {
    width: 100%;
  }

  .my-details {
    padding-top: 1.5rem;
    margin: 0 auto;
  }

  .my-details div:nth-child(n) {
    font-size: 1.5rem;
    padding: 1.5rem 0.5rem;
  }

  .my-details div:nth-child(1) {
    font-size: 0.8rem;
  }

  .icon-contact {
    height: 20px;
    display:;
  align-items: center;
  justify-content: center;
  }

  footer {
    
    bottom: 0;
    width: 100%;
    gap: 15px;
  }

  footer div p{
    border: 1px red solid; 
    font-size: 1rem;
  }

  .icons-contact {
 margin-bottom: 80px;
  }

  .btn-box {
    width: 100%;
  }

  footer div:nth-child(2) {
    border: 1px solid red;
    flex-direction: column;
    align-items: ;
    justify-content: left;
  } 
}





