* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: red;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.contact {
  padding: 5rem 0rem;
  border: 1px solid red;
  min-height: 100vh;
  font-size: 24px;
  border: 1px solid red;
  min-height: 100vh;
  text-align: center;
}

.form {
  border: 1px solid red;
  width: 50%;
  height: 500px;
}

.contact h3 {
  font-size: 4rem;
  padding-bottom: 4rem;
  padding-top: 0rem;
}

 .contact span {
  color: var(--main-color);
} 

.contact form .input-box .input-field {
  position: relative;
  width: 100%;
  margin-bottom: 0.8rem;
  padding: 0 30px;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
   /* height: 50%; */
  padding: 1.5rem ; 
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: var(--second-bg-color);
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}


.solution {
  background-color: #009;
}

.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:focus ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
  padding: 0 30px;
}